html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
:root {
  --brand-color: #2196f3;
  --black-color: #000000;
  --white-color: #ffffff;
  --grey-color: #757575;
  --hero-color: #2f303a;
  --text-color: #212121;
}

.main-container {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  outline: 2px solid tomato;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header-container {
  display: flex;
  outline: 3px solid green;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
}
.header-color1 {
  color: var(--brand-color);
}
.header-color2 {
  color: var(--black-color);
}
.navigation {
  display: flex;
  flex-direction: row;
  outline: 2px solid blue;
}
.div-class {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.site-nav {
  font-weight: 500;
  font-size: 14px;
  color: var(--black-color);
}
.site-nav:hover,
.site-nav:focus {
  color: var(--brand-color);
}

.hero-section {
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: var(--hero-color);
  text-align: center;
  outline: 2px solid red;
}
.hero-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--hero-color);
  padding-top: 200px;
  padding-bottom: 200px;
  width: 1600px;
}
.hero-section-title {
  width: 700px;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: var(--white-color);
  background-color: var(--hero-color);
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--brand-color);
  cursor: pointer;
}
.main-btn {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  border: #2196f3;
  color: var(--white-color);
  background: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button-color1 {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--white-color);
  background-color: var(--brand-color);
  cursor: pointer;
}
.button-color1:hover,
.button-color1:focus {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--white-color);
  background-color: var(--brand-color);
}

.features-item:not(:last-child) {
  margin-right: 30px;
}
.features-main {
  padding-top: 94px;
  padding-bottom: 94px;
}
.features-section {
  display: flex;
  flex-direction: row;
}
.features-list-item {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color);
  margin-bottom: 10px;
}
.features-list-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--grey-color);
}

.what-we-do-header {
  font-weight: 700;
  font-size: 46px;
  line-height: 42px;
  text-align: center;
  color: #212121;
}
.our-team-style {
  background-color: #f5f4fa;
}
.our-team-header {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;
}

.our-team-members {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
}
.our-team-profession {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
}
.projects-style-item {
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}
.projects-style-description {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
}
.portfolio-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--white-color);
  background-color: var(--brand-color);
}

.footer-style {
  background-color: #2f303a;
}
.footer-color2 {
  color: var(--white-color);
}
.address {
  font-style: normal;
  color: var(--white-color);
}
.phone-mail {
  color: #757575;
}
.phone-mail:hover,
.phone-mail:focus {
  color: var(--brand-color);
}
